<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Close Out PH</h1>
    </ion-header-bar>
    <ion-content>
      
      <ion-list id="nav_list">
         
        <div style="padding: 16px; padding-bottom: 0px">
          <h2 class="body2 secondary_text">Items</h2>  
        </div>

        <a menu-close class="item item-icon-left" href="#/app/home">
          <i class="icon ion-home secondary_text"></i>
          <h2 class="body2 primary_text">Home</h2>
        </a>

        <a menu-close class="item item-icon-left" href="#/app/categories">
          <i class="icon ion-asterisk secondary_text"></i>
          <h2 class="body2 primary_text">Categories</h2>
        </a>

        <a menu-close class="item item-icon-left" href="#/app/search">
          <i class="icon ion-search secondary_text"></i>
          <h2 class="body2 primary_text">Search</h2>
        </a>

        <a menu-close class="item item-icon-left list_border" href="#/app/history">
          <i class="icon ion-android-arrow-dropleft-circle secondary_text"></i>
          <h2 class="body2 primary_text">History</h2>
        </a>
         
        <div menu-close style="padding: 16px; padding-bottom: 0px">
          <h2 class="body2 secondary_text">Post</h2>  
        </div>

        <a menu-close class="item item-icon-left" href="#/app/sell">
          <i class="icon ion-pricetag secondary_text"></i>
          <h2 class="body2 primary_text">Sell</h2>
        </a>

        <a menu-close class="item item-icon-left list_border" href="#/app/look">
          <i class="icon ion-ios-eye secondary_text"></i>
          <h2 class="body2 primary_text">Look For</h2>
        </a>
         
        <div style="padding: 16px; padding-bottom: 0px">
          <h2 class="body2 secondary_text">Account</h2>  
        </div>

        <a menu-close class="item item-icon-left" href="#/app/login">
          <i class="icon ion-log-in secondary_text"></i>
          <h2 class="body2 primary_text">Log In</h2>
        </a>

        <a menu-close class="item item-icon-left" href="#/app/profile">
          <i class="icon ion-person secondary_text"></i>
          <h2 class="body2 primary_text">My Profile</h2>
        </a>

        <a menu-close class="item item-icon-left" href="#/app/messages">
          <i class="icon ion-email secondary_text"></i>
          <h2 class="body2 primary_text">Messages</h2>
        </a>

        <a menu-close class="item item-icon-left list_border" href="#/app/deals">
          <i class="icon ion-android-people secondary_text"></i>
          <h2 class="body2 primary_text">Deals</h2>
        </a>
         
        <div style="padding: 16px; padding-bottom: 0px">
          <h2 class="body2 secondary_text">Others</h2>  
        </div>
        
        <a menu-close class="item item-icon-left list_border" href="#/app/about">
          <i class="icon ion-information-circled secondary_text"></i>
          <h2 class="body2 primary_text">About</h2>
        </a>
        
        <a menu-close class="item item-icon-left list_border" href="#/app/about">
          <i class="icon ion-gear-a secondary_text"></i>
          <h2 class="body2 primary_text">Settings</h2>
        </a>
        
      </ion-list>
      
      <!--<ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/categories">
          Categories
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/sell">
          Sell
        </ion-item>
        <ion-item menu-close href="#/app/look">
          Look For
        </ion-item>
        <ion-item menu-close href="#/app/history">
          History
        </ion-item>
        <ion-item menu-close href="#/app/about">
          About
        </ion-item>
      </ion-list>-->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>