<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Close Out PH</h1>
    </ion-header-bar>
    <ion-content>
      
      <ion-list id="nav_list">
         
        <div style="padding: 16px; padding-bottom: 0px">
          <h2 class="body2 secondary_text">Items</h2>  
        </div>

        <a menu-close class="item item-icon-left"" href="#/app/home" ng-click="Select('home')">
          <i ng-class="{'icon': true, 'ion-home': true, 'secondary_text': true, 'highlight': $root.current_view == 'home'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'home'}">Home</h2>
        </a>

        <a menu-close class="item item-icon-left" href="#/app/categories" ng-click="Select('categories')">
          <i ng-class="{'icon': true, 'ion-asterisk': true, 'secondary_text': true, 'highlight': $root.current_view == 'categories'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'categories'}">Categories</h2>
        </a>

        <a menu-close class="item item-icon-left" href="#/app/search" ng-click="Select('search')">
          <i ng-class="{'icon': true, 'ion-search': true, 'secondary_text': true, 'highlight': $root.current_view == 'search'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'search'}">Search</h2>
        </a>

        <a menu-close class="item item-icon-left list_border" href="#/app/history" ng-click="Select('history')">
          <i ng-class="{'icon': true, 'ion-android-arrow-dropleft-circle': true, 'secondary_text': true, 'highlight': $root.current_view == 'history'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'history'}">History</h2>
        </a>
         
        <div menu-close style="padding: 16px; padding-bottom: 0px">
          <h2 class="body2 secondary_text">Post</h2>  
        </div>

        <a menu-close class="item item-icon-left" href="#/app/sell" ng-click="Select('sell')">
          <i ng-class="{'icon': true, 'ion-pricetag': true, 'secondary_text': true, 'highlight': $root.current_view == 'sell'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'sell'}">Sell</h2>
        </a>

        <a menu-close class="item item-icon-left list_border" href="#/app/look" ng-click="Select('look')">
          <i ng-class="{'icon': true, 'ion-ios-eye': true, 'secondary_text': true, 'highlight': $root.current_view == 'look'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'look'}">Look For</h2>
        </a>
         
        <div style="padding: 16px; padding-bottom: 0px">
          <h2 class="body2 secondary_text">Account</h2>  
        </div>

        <a menu-close class="item item-icon-left" href="#/app/login">
          <i class="icon ion-log-in secondary_text"></i>
          <h2 class="body2 primary_text">Log In</h2>
        </a>

        <a menu-close class="item item-icon-left" href="#/app/profile" ng-click="Select('profile')">
          <i ng-class="{'icon': true, 'ion-person': true, 'secondary_text': true, 'highlight': $root.current_view == 'profile'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'profile'}">My Profile</h2>
        </a>

        <a menu-close class="item item-icon-left" href="#/app/messages" ng-click="Select('messages')">
          <i ng-class="{'icon': true, 'ion-email': true, 'secondary_text': true, 'highlight': $root.current_view == 'messages'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'messages'}">Messages</h2>
        </a>

        <a menu-close class="item item-icon-left list_border" href="#/app/deals" ng-click="Select('deals')">
          <i ng-class="{'icon': true, 'ion-android-people': true, 'secondary_text': true, 'highlight': $root.current_view == 'deals'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'deals'}">Deals</h2>
        </a>
         
        <div style="padding: 16px; padding-bottom: 0px">
          <h2 class="body2 secondary_text">Others</h2>  
        </div>
        
        <a menu-close class="item item-icon-left list_border" href="#/app/about" ng-click="Select('about')">
          <i ng-class="{'icon': true, 'ion-information-circled': true, 'secondary_text': true, 'highlight': $root.current_view == 'about'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'about'}">About</h2>
        </a>
        
        <a menu-close class="item item-icon-left list_border" href="#/app/settings" ng-click="Select('settings')">
          <i ng-class="{'icon': true, 'ion-gear-a': true, 'secondary_text': true, 'highlight': $root.current_view == 'settings'}"></i>
          <h2 ng-class="{'body2': true, 'primary_text':true, 'highlight': $root.current_view == 'settings'}">Settings</h2>
        </a>
        
      </ion-list>
      
      <!--<ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/categories">
          Categories
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/sell">
          Sell
        </ion-item>
        <ion-item menu-close href="#/app/look">
          Look For
        </ion-item>
        <ion-item menu-close href="#/app/history">
          History
        </ion-item>
        <ion-item menu-close href="#/app/about">
          About
        </ion-item>
      </ion-list>-->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>