<ion-view view-title="Specifications">
  <ion-content class="padding">

    <ion-list>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-html5"></i>
        <h2>HTML 5</h2>
        <p>Overall page structure</p>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-css3"></i>
        <h2>CSS 3</h2>
        <p>App Design</p>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-javascript"></i>
        <h2>Javascript</h2>
        <p>Control *</p>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-angular"></i>
        <h2>Angular JS</h2>
        <p>JS Library</p>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ionic"></i>
        <h2>Ionic</h2>
        <p>Framework on top of Angular JS</p>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-soup-can"></i>
        <h2>Firebase</h2>
        <p>Backend as a service (BaaS)</p>
      </a>

      <h3>Special thanks to:</h3>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-github"></i>
        <h2>Git Hub</h2>
        <p>Free Repository</p>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-sass"></i>
        <h2>SASS</h2>
        <p>CSS Preprocessor (CSS with Superpowers)</p>
      </a>
      
    </ion-list>

  </ion-content>
</ion-view>