<ion-view view-title="Terms & Conditions">
  <ion-content class="padding">
    <h2>Close Out PH Terms and Conditions</h2>
    <p class="justify">
      Consequat pariatur ex id veniam reprehenderit dolore nisi culpa do proident sunt anim. Excepteur nisi aliqua occaecat sit esse sint elit est. Enim nisi non qui ea culpa dolor dolor irure sint nisi voluptate. Aliqua est tempor eiusmod sit. Incididunt amet consequat culpa ea nostrud non sunt. Aute mollit esse sit voluptate duis nulla duis reprehenderit irure cupidatat id. Culpa aliqua ex sint dolor do irure sit velit officia ex eiusmod ad nulla. Id mollit consectetur incididunt magna cupidatat adipisicing deserunt.
    </p>
  </ion-content>
</ion-view>
